@model DiiaClient.Example.Web.Models.AuthModel
@{
    ViewData["Title"] = "Auth by diia";
}
<h2>Auth by diia</h2>
<p>
    Enter the BranchId and OfferId for auth.
</p>
<form enctype="multipart/form-data" action="RequestAuthDeepLink" method="post">
    <dl>
        <dt>
            <label asp-for="BranchId"></label>
        </dt>
        <dd>
            <input asp-for="BranchId" type="text">
            <span asp-validation-for="BranchId"></span>
        </dd>
        <dt>
            <label asp-for="OfferId"></label>
        </dt>
        <dd>
            <input asp-for="OfferId" type="text">
            <span asp-validation-for="OfferId"></span>
        </dd>
@*        <dt>
            <label asp-for="ReturnLink"></label>
        </dt>
        <dd>
            <input asp-for="ReturnLink" type="text">
            <span asp-validation-for="ReturnLink"></span>
        </dd>*@
    </dl>
    <input class="btn btn-dark" type="submit" value="Continue" />
</form>