@model DiiaClient.Example.Web.Models.IdModel
@{
    ViewData["Title"] = "New offer successfully created";
}

<h2>New offer successfully created on branch</h2>
<p>Branch ID: @Model.BranchId</p>
<p>Offer ID: @Model.OfferId</p>
<a href="./GetAllOffers">View all offers</a>

