@model DiiaClient.Example.Web.Models.IdModel
@{
    ViewData["Title"] = "New branch successfully created";
}

<h2>New branch successfully created</h2>
<p>Branch ID: @Model.BranchId</p>
<a href="./GetAllBranches">View all branches</a>

