@model DiiaClient.Example.Web.Models.IdModel
@{
    ViewData["Title"] = "Get branch";
}
<h2>Get branch</h2>
<form action="GetBranch" method="get">
    <p>Branch ID: <input type="text" name="BranchId"/></p>
    <p><input type="submit"></p>
</form>

