@{
    ViewData["Title"] = "DIIA Client SDK usage";
}


<h2>This is a simple example of DIIA Client SDK usage</h2>
<p>
    <u>Important</u>: to simplify user interface we will work with <strong>first</strong> branch
    and <strong>first</strong> offer.
    For production usage you should choose correct branch and offer to use.
</p>
<p>
    There are several scenarios what you can do with <strong>documents</strong>
    <ul>
        <li><a href="./ValidatingDocument/ValidatingPage">Validating document by barcode</a></li>
        <li><a href="./Sharing/RequestDocumentByBarcodePage">Requesting document by barcode</a></li>
        <li><a href="./Sharing/RequestDocumentByDeepLink">Requesting document by deeplink</a></li>
        <li><a href="./Sharing/FilesSigningPage">Signing files by diia</a></li>
        <li><a href="./Sharing/AuthPage">Auth by diia</a></li>
    </ul>
</p>
<p>
    Also you can manipulate <strong>branches</strong>
    <ul>
        <li><a href="./Branch/GetAllBranches">View all registered branches</a></li>
        <li><a href="./Branch/GetBranchPage">Get branch by Id</a></li>
        <li><a href="./Branch/CreateBranchPage">Create new branch</a></li>
        <li><a href="./Branch/DeleteBranchPage">Delete branch</a></li>
        <li><a href="./Branch/UpdateBranchPage">Update branch</a></li>
    </ul>
</p>
<p>
    And <strong>offers</strong>, created for branches
    <ul>
        <li><a href="./Offer/AllOffersPage">View all offers on the branch</a></li>
        <li><a href="./Offer/CreateOfferPage">Create new offer on the branch</a></li>
        <li><a href="./Offer/DeleteOfferPage">Delete offer</a></li>
    </ul>